.aboutUsMainBody {
  width: 100%;
  min-height: 100vh;
}

.aboutTopBackgroundImage {
  width: 100%;
  max-width: 1440px;
  height: auto;
  aspect-ratio: 1440 / 693;
  background-image: url("/imageAbout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.aboutUsBackgroundImageText {
  width: 100%;
  max-width: 889px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 20px;
}

.aboutUsBackgroundImageText p {
  width: 100%;
  max-width: 524px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.aboutUsBackgroundImageText h2 {
  width: 100%;
  max-width: 889px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 52.8px;
  text-align: center;
  color: #ffffff;
}

.aboutUsOurValues {
  width: 100%;
  background-color: #d8e7f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.aboutUsOurValuesChild {
  width: 100%;
  max-width: 1357px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.aboutUsOurValuesChild h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
}

.aboutUsQuality {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  flex-wrap: nowrap;
}

.aboutUsReliable {
  flex: 1 1 0;
  max-width: 429px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.aboutUsReliable nav {
  width: 41px;
  height: 41px;
  border: 1px solid #ffa500;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsReliable nav img {
  width: 20px;
  height: 20px;
}

.aboutUsText {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUsOurAim {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.aboutUsAimSection {
  width: 100%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
}

.aboutUsAimSectionText {
  width: 534px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.aboutUsAimSectionText h2 {
  font-size: 48px;
  color: #2f80ed;
}

.aboutUsFullText {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aboutUsFullText span,
.aboutUsFullText p {
  font-size: 20px;
  line-height: 28px;
  font-family: Montserrat;
  font-weight: 400;
}

.aboutUsAimImageSection {
  width: 786px;
  height: 484px;
  border-radius: 10px;
  background-image: url("/Group15.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.aboutUsMeetTheTeam {
  width: 100%;
  background-color: #d8e7f0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
}

.aboutUsTheTeam {
  width: 100%;
  max-width: 855px;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsTheTeam h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  color: #000435;
}

.teamImages {
  width: 100%;
  max-width: 1358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin-top: 30px;
}

.victoriaSection {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.aboutUsImageCard {
  width: 299.1px;
  height: 496.43px;
  background-color: #e29a16;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsTeamName {
  width: 240.69px;
  padding: 10px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUsTeamName article,
.aboutUsTeamName p {
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 35.4px;
}

.aboutUsTeamName span {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15.93px;
  line-height: 22.3px;
  color: #ffffff;
}
