.dashboard-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  background-color: #1a202c;
  color: #fff;
  width: 20%;
  position: fixed;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 100px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
  font-size: 0.77rem;
}

.nav-link,
.nav-link-active {
  display: block;
  color: #cbd5e0;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  
}

.nav-link-active {
  border-left: 4px solid orange;
  background-color: #2d3748;
 
}

.sidebar nav ul li.admin-management-header {
  margin-bottom: 15px;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  color: #FFA500;
  font-weight: 400;
  align-items: center;
  /* background-color: pink; */
}

.sidebar .logout {
  padding-top: 20px;
  border-top: 1px solid #4a5568;
}

.main-content {
  flex-grow: 1;
  width: 80%;
  height: fit-content;
  overflow-y: auto;
  margin-left: 20%;
  background-color: #f7fafc;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.modal p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancel-btn,
.logout-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
}

.logout-btn {
  background-color: #d9534f;
  color: #fff;
}

.cancel-btn:hover {
  background-color: #bbb;
}

.logout-btn:hover {
  background-color: #c9302c;
}