.catfilter{
    width: 100%;
    height: auto;
    display: flex;
    /* padding: 20px; */
    align-items: center;
    /* display: block; */
    flex-wrap: wrap;
}
.hero-pic{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),url('https://res.cloudinary.com/djnowfvsk/image/upload/v1744296984/Premium_Photo___AfricanAmerican_decorator_painting_light_wall_c2e0s4.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.hero-pic h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}
.hero-pic h1{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
.catfilter-card{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}