.signUpBody {
  width: 100%;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signImage {
  position: absolute;
  top: -1rem;
  left: 2rem;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.signImage img {
  width: 220px;
  height: auto;
  object-fit: contain;
}

.signContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.signCard {
  padding: 3rem;
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
}

.signUpHeaderContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.signHeaderContainer h2 {
  font-size: 2rem;
  color: #ffffff;
}

.signHeaderContainer span {
  font-size: 1rem;
  opacity: 0.85;
  color: #ffffff;
}

.signForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  margin-top: -3rem;
}

.signRow {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signInputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 50%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1rem;
}

.signInputGroup p {
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 0.95rem;
  color: #8c8787;
}

.signInputGroup input {
  padding: 10px 40px 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  background: #f9f9f9;
  transition: 0.2s ease;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.signInputGroup input:focus {
  border-color: #2d5bff;
  background: #fff;
}

.inputError {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.2rem;
}

.signTerms {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #ffffff;
}

.signTerms span {
  color: #2d5bff;
  font-weight: 500;
  cursor: pointer;
}

.signCreateAccountButton {
  background: #8194d7;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s ease;
  width: 100%;
}

.signCreateAccountButton:hover {
  background: #1a40cc;
}

.signCreateAccountButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.signRouteToLogin {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #ffffff;
}

.signRouteToLogin span {
  color: #1a40cc;
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
}
