.Header-container{
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 31px;
    z-index: 3;
    

}
.Header-section{
    display: flex;
    width: 95%;
    border-radius: 100px;
    background-color: #ffff;
    align-items: center;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
    padding: 10px 60px ;
    justify-content: space-between;
    position: relative;

}
.Header-Pages{
    display: flex;
    gap: 55px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    
}
.Header-authentication{
    display: flex;
    gap: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.second-respon{
    display: none;
}
.responsive-image{
    width: 10% !important;
    height: 100%; 

    
}
.responsive-image, img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
a{
    text-decoration: none;
    color: black;
}

.dropdown{
    width: 100%;
    height: 300px;
    background-color: #ffff;
    position: absolute;
    top: 10vh;
    left: 0;
    display: none;
}


@media screen and (max-width:768px) {
    .Header-Pages{
        display: none;
    }
    .Header-authentication{
        display: none;
    }
    .Header-container{
        top: 0;
    }
    .Header-section{
        width: 100%;
        border-radius: 30px;
        background-color: #ffff;
        padding: 10px 16px;
        border-radius: 0%;
    }
    .responsive-image{
        width: 30% !important;
        height: 100%;
        /* background-color: red;      */
    }
    .second-respon{
        width: 10%;
        height: 100%;
        display: flex;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        gap: 10%;
        overflow-y: auto;
    }
    .dropdown p{
        width: 100%;
        height: fit-content;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        padding: 15px 20px;
    }
    .dropdown p:hover{
        background-color: #BDBDBD;
        
    }
    .dropdown p:last-of-type{
        background-color: #000435;
        color: #ffff;
    }
}