.HomePage{
    width: 100%;
    height: auto;
}
.homePage__hero1{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('https://ucarecdn.com/a7e92551-040b-4d26-b40f-b7202c1c26de/carpentercuttingmdfboardinsideworkshop3.jpg');    background-size: cover; 
    background-repeat: no-repeat;  
    align-items: center;
    color: #fff;
    gap: 10px;
}
.homePage__hero1 h1{
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}
.homePage__hero1 > p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}
.homePage__hero1__btns{
    display: flex;
    width: 30%;
    justify-content: space-between;
   
    
}
.homePage__hero1__btns p{
    width: 46%;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 1.75;
}
.homePage__hero1__btns p:first-child{
    background-color: #000435;
    border-radius: 5px;
}
.homePage__hero1__btns p:last-child{
    border: 2px solid #FFA500;
}
.homePage__hero2{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    margin: 100px 0;
   
}
.homePage__hero2 > div{
    width: 50%;
    height: 100%;
    padding: 20px;  
}
.homePage__hero2 > div:first-child section:first-of-type{
   display: flex;
   width: fit-content;
   height: fit-content;
   
   justify-content: center;
   align-items: center;
   background-color: #000435;
   color: #fff;
   padding: 7px 15px;
   margin: 40px 0;
   border-radius: 9px;
}
.homePage__hero2 > div:first-child > h1{
    font-size: 56px;
    font-weight: 700;
 }
.homePage__hero2 > div:first-child > p{
   font-size: 24px;
   font-weight: 700;
}
.homePage__hero2 > div:first-child section:last-of-type{
    width: 70%;
    display: flex;
    margin-top: 30%;
    height: fit-content;
    gap: 10px;
}
.homePage__hero2 > div:first-child section:last-of-type div{
    width: 25%;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    height: fit-content;
}
.homePage__hero2 > div:first-child section:last-of-type div > img{
  object-fit: contain;
  width: 20%;
}
.homePage__hero2__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homePage__hero2__img > img{
    object-fit: contain;
    width: 80%;
}
.homePage__hero3{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
   background-color: #D8E7F0;
    padding: 30px;
    margin: 30px 0;
}
.homePage__hero3 > aside{
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   color: #000435;

}
.homePage__hero3 > aside > h1{
    font-size: 56px;
    font-weight: 700;
}
.homePage__hero3 > aside > p{
    font-size: 24px;
    font-weight: 700;
}
.homePage__hero3__category{
    width: 100%;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.homePage__hero3__category > div{
    width: 32%;
    font-weight: 700;
    height: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    
}
.homePage__hero3__category > div > img{
    object-fit: contain;
    width: 18%;
}
.homePage__hero3__category > div > p{
    font-size: 32px;
    font-weight: 700;
}
.homePage__hero3__categories{
    width: 100%;
    height: fit-content;
    padding: 30px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.seeMore{
    width: 100%;
    height: fit-content;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 40px;
    font-weight: 400;
    color: #000435;
    gap: 10px;
}
.homePage__carousel{
    width: 100%;
    height: 60vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.homePage__carousel > h1{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
}
.homePage__carousel > h3{
    color: #5E6282;
    font-size: 18px ;
    font-weight: 700;
}

.explore-artisans{
    cursor: pointer;
}