.loginMainBody1{
    width: 100%;
    height: fit-content;
    display: flex;
    min-height: 100vh;
    background: url('https://res.cloudinary.com/dd1aj3hvn/image/upload/v1744842644/bg_login_lt3rvx.jpg') no-repeat center center ;
}
.loginMainBody1 > div{
    width: 50%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
 
}
.gosignUp{
    color: #2F80ED;
    font-weight: 700;
}
.firstborn img{
    width: 30%;
    height: 30%;
    padding: 20px ;
    cursor: pointer;
    object-fit: contain;
}
.loginMainBody1 > div:last-child{
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 60px 70px 0 40px;
    /* border: 2px solid green; */
    gap: 20px;
}
.loginMainBody1 > div:last-child h1{
    font-weight: 700;
    font-size: 48px;
}
.loginEmailInput{
    width: 100%;
    height: fit-content;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    
       
}
.loginEmailInput span{
    font-weight: 700;
}
.loginEmailInput input{
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
}
.loginEmailPassword{
    width: 100%;
    height: fit-content;
    display: flex;
    /* border: 2px solid orange; */
    flex-direction: column;
    gap: 10px;
  
}
.loginEmailPassword span{
    font-weight: 700;
}
.loginEmailPassword input{
    outline: none;
    border: none;
    width: 100%;
    padding: 20px;
}
.loginPasswordSection{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-inline-end: 40px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
  
}
.loginPasswordSection > input{
    width: 80%;
    padding: 20px;
    
}
.forget{
    color: #2F80ED;
    font-weight: 700;
}
.button{
    width: 100%;
    height: fit-content;
    padding: 15px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button {
    font-weight: 700;
    
}
.button:hover{
    background-color: #2F80ED;
    color: #fff;
}