 .card{
  width: 100%;
  max-width: 300px;
  height: max-content;
  padding: 1rem;
  background-color: white;
  display: flex;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
 }

 .card-header{
   width: 100%;
   height: 10%;
   display: flex;
   justify-content: space-between;
   align-items: center;

 }
 .outer{
    width: 20px;
    height: 20px;
 }
 .outer img{
   object-fit: contain;
   width: 20px;
 }
 .card-profile{
  width: max-content;
  height: max-content;
  display: flex;
  gap: 10px;
 }
 .card-profile header{
    width: 30px;
    height: 30px;
 }
 .card-profile header img{
   object-fit: contain;
   width: 30px;
   border-radius: 50%;
 }
 .card-profile h3{
   font-size: 14px;
   font-weight: 700;
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .view p{
  font-size: 12px;
 }
 .coverpic{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
 }
 .coverpic img{
   width: 100%;
   height: 250px;
 }
 .fancy{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .fancy1 h1{
   font-size: 20px;
   font-weight: 700;
 }
 .fancy1 p{
  font-size: 10px;
 }
 .book{
  width: 100px;
  height: max-content;
  padding: 15px 10px;
  background-color: #282828;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  
 }