.resetPasswordMessageBody {
    width: 100%;
    height: 100vh;
}

.resetPasswordMessageHeaderImage {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: aqua;
}

.resetPasswordMessageHeaderImage img {
    width: 162.52px;
    height: 34.19px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 27.35px;
    line-height: 30.08px;
    letter-spacing: 0%;
    text-align: center;
    background-color: red;
}

.resetPasswordMessageImage {
    width: 200px;
    height: 150px;
    /* background-color: purple; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding-bottom: 30px; */
}

.resetPasswordMessageImage img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.resetPasswordMessage {
    width: 100%;
    height: 25%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34.19px;
    line-height: 37.61px;
    letter-spacing: 0%;
    color: #000435;
    display: flex;
    justify-content: center;
}

.resetPasswordMessageSent {
    width: 100%;
    height: 40%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 17.09px;
    line-height: 23.93px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 15px;
}

.resetPasswordMessageResendLink {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.resetPasswordMessageResendLink p {
    width: 216px;
    height: 24px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17.09px;
    line-height: 23.93px;
    letter-spacing: 0%;
    text-align: center;
    color: #000435;
}

.resetPasswordMessageResendLink span {
    width: 140.2px;
    height: 24px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17.09px;
    line-height: 23.93px;
    letter-spacing: 0%;
    color: #2F80ED;
}
